---
layout: default
---

<div class="home">

<!--
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
  
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->

 <!-- <h1 class="page-heading">Categories</h1> -->


<!-- <ul class="post-list">
{% if site.posts != empty %}
{% for cat in site.categories %}
<a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}" class="post-link">{{ cat[0] | join: "/"}}<span class="size"> {{ cat[1].size }}</span></a>
{% endfor %}
</ul> -->


{% for cat in site.categories %}
<h3>{{ cat[0]}}</h3>
<ul class="">
  {% for post in cat[1] %}
   <li id="{{ cat[0] }}">
   <!-- <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> &raquo; -->
  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<!-- {% else %}
<span>No posts</span>
{% endif %} -->



  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>

